<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
{% load markup_tags %}
<body>

{% filter apply_markup:"markdown" %}
{{ the_text }}
{% endfilter %}

</body>
</html>